h3 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  flex-direction: column;
  align-items: center;
  width: 300px;
}

input {
  width: 100%;
}

input[type="submit"] {
  background-color: #81b7b9;
  color: white;
  cursor: pointer;
}

button {
  background-color: #008CBA;
  color: black;
  cursor: pointer;
  padding: 10px;
  margin-top: 10px;

}

.errorMsg {
  color: red;
  font-size: 14px;
}

label {
  font-weight: bold;
  margin-top: 10px;
}